@model TankMap.Models.Tank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tank</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Organization)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TankInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TankInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TankName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TankName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TankAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TankAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
